body{background-color: #58585a}
/*navbar**************/
.navbar-light .navbar-nav .nav-link {
    color: #fff;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active ,.navbar-light .navbar-nav .nav-link:hover{
    color: #8cc441;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #8cc441;
    
    }
.navbar-light .navbar-nav .nav-link {
    color: #666;
    font-size: 16px;
    padding-right: .75rem;
    padding-left: .75rem;
    transition: width 2s linear 1s;
    -webkit-transition: all .5s ease-in ;
    -moz-transition: all .5s ease-in ;
    -o-transition: all .5s ease-in ;
    transition: all .5s ease-in ;}
/*banner*/
#banner p{color: #fff}
#banner h1,#banner strong{color: #8cc441}
/*who-are-we*/
.who-are-we h2{color: #8cc441}
/*operate in*************************/
.operate-in{
    text-align: center;
    color:#8cc441;
}
/*.operate-in {background: linear-gradient(45deg, #0f6f5b 0%, #15af8f 100%);}************************************************************/
.operate-in p{color: #555;}
.operate-in .col-lg-7,.operate-in .col-md-6,.operate-in .col-xs-12,.operate-in .col-sm-12{background-color: #fff}
/*solution*/
.solution h2,.solution h3{color: #8cc441}
.solution p{color: #777}
.solution .col-lg-12 p{color: #fff}
.solution .img-thumbnail {background-color:#eee}
.solution .col-lg-4,.solution .col-md-6{height: 340px}
.solution span{    border: 1px solid #8cc441;
    padding: 5px 10px;
    border-radius: 10%;
    color: #8cc441;
    background-color: #f2f2f2}
.solution span:hover{
    border: 2px solid #8cc441;
    background-color: #fff
}
/*belive in*/
.believe-in{margin-top: 5rem}
.believe-in h2{color: #8cc441}
.believe-in .carousel-control-prev {left: -100px;}
.believe-in .carousel-control-next {right: -100px;}
/*contact us*****************************/
.contact{
    background-image: url(../images/110.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
}
.contact .cover{
    padding: 80px 0;
    background-color: #00000075;
}
.contact .cover h2{color: #8cc44a}
.cid-qv5ApHdm7c LABEL {
    color: #8cc44a;}
.form-control-label {
    position: relative;
    cursor: pointer;
    margin-bottom: .357em;
    padding: 0;}
.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
.form-control, .form-control:focus {
    border: 1px solid #e8e8e8;}
.form-control {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 1.07em .5em;}
.cid-qv5ApHdm7c .input-group-btn {
    display: block;
    text-align: center;}


.input-group-btn:not(:first-child)>.btn {
    z-index: 2;
    margin-left: -1px;}
.mbr-form .btn {
    margin: .4rem 0;
}
.contact form span{
    display: block;
    text-align: center;}
.contact form span button{padding: 10px 27px;
    font-size: 18px;
    background-color: #8cc44a;
    border: 1px solid #8cc44a;}
.display-7{color:#8cc44a }
/*message**************/
.message{padding: 80px 0;}
.message h2{
    color: #8cc441;
    padding-bottom: 40px}
.message .details{background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;}
.message .details h3{
    color: #8cc441
}
.message .details p{color: #666}
/*footer******************/
footer{background-color: #333;
color:#fff;
padding: 20px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out}
footer p, footer ul{display: inline-block;transition:all 1sec ease}
footer ul li {display: inline-block;padding: 0 5px}
footer p span:hover, footer ul li:hover {
    color: #8cc441;
    font-size: 20px;
    font-weight: 600
}